html {
  box-sizing: border-box;
  font-family: "georgia", serif;
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2,1fr;
  grid-template-areas:
  "banner banner"
  "col1 col2"
}

.logo {
  width: 14rem;
  grid-column: 1;
  align-self: end;
  grid-row: 1;


}
