html {
  box-sizing: border-box;
  font-family: georgia, serif;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "banner banner"
  "col1 col2";
}

.logo {
  width: 14rem;
  grid-column: 1;
  align-self: end;
  grid-row: 1;
  margin-left: 1rem;
  margin-bottom: 1rem;
  z-index: 1;
}

h2 li {
  font-family: "Patua One", sans-serif;
  color: #30658d;
}

main {
  display: contents;
  display: flex;
  grid-area: top;
}

nav {
  grid-area: "banner";
  grid-column: 2;
  color: #fff;
  font-family: "Patua One", sans-serif;
}
